spring.application.name=Catholic Daily Companion

# PostgreSQL DB
spring.datasource.url=jdbc:postgresql://localhost:5432/your-database
spring.datasource.username=your_username
spring.datasource.password=your_password

# JPA / Hibernate settings
spring.jpa.hibernate.ddl-auto=create-drop
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.properties.hibernate.format_sql=true

# JWT settings
jwt.secret=your_random_base64_string_here
jwt.expiration=3600 # in seconds
jwt.refreshExpiration=604800

# Admin account for CommandLineRunner
admin.default.email=your-email@example.com
admin.default.password=your-secure-password

# CORS
app.cors.allowed-origins=http://localhost:8081
app.cors.allowed-origins[1]=http://localhost:8081

server.address=0.0.0.0
server.port=8080

logging.level.org.springframework.security=DEBUG